/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
  width: 100%;
}

/* Sección principal de la aplicación donde se carga la información */
.main-app {
  height: 92.7%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

/* Tamaño de los componentes */
.component-apps {
  height: 100%;
  width: 100%;
}

/* Tamaño de los componentes  de la aplicación*/
app-teams,
app-team-search,
app-team-details,
app-members,
app-member-search,
app-member-details {
  height: 100%;
  width: 100%;
}
